@page "/"
@rendermode InteractiveServer
@using System.Text.Json
@using SteamNET.DataAccess.Models
@inject HttpClient client

@if (user is not null)
{
    <div class="card" style="width: 18rem;">
        <img src="@(user.AvatarFull)" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@(user.PersonaName)</h5>
            <a href="@(user.ProfileUrl)" class="btn btn-primary">View Profile on Steam</a>
        </div>
    </div>
}

<form method="post" @onsubmit="SendRequest" @formname="user-form">
    <AntiforgeryToken />
    <InputText @bind-Value="steamId" />
    <button type="submit">Submit</button>
</form>

@code {
    private string? steamId;
    private UserModel? user;
    protected override async Task OnInitializedAsync()
    {

    }

    protected async Task SendRequest()
    {
        try
        {
            var apiResponseData = await client.GetFromJsonAsync<UserModel>($"https://localhost:7025/User/UserInfo/{steamId}", new JsonSerializerOptions(JsonSerializerDefaults.Web));

            if (apiResponseData is not null)
            {
                user = apiResponseData;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}